*{
  margin: 0;
  padding: 0;
}
section{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.one{
  background-color:#fff;
  position: relative;
}
.two{
  background-color:green;
}
.three{
  background-color:yellow;
}
.four{
  background-color:blue;
}
.pgb{
  position:absolute;
}
.hero{
  position: absolute;
}
canvas{
  background-color :blue;

}